@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@900&display=swap');

* {
    font-family: "Nunito", sans-serif;
}

.bgprofil {
    background-image: linear-gradient(180deg,#0C7B93 ,#007a95);
}

.bgLine {
    background-image: linear-gradient(180deg, #27496D,rgba(89, 89, 89, 0.702),#0C7B93);
}

.bgNavbar {
    background-color: rgba(0, 0, 0, 0.4);
}

.bgContact {
    background-image: linear-gradient(180deg,#00A8CC,#27496D);
}

.bgContactImg {
    background-image: linear-gradient(180deg,#00A8CC,#0C7B93 );
}

.bgAboutVoda, .bgSkillVoda {
    background-image: linear-gradient(180deg,#0C7B93 ,#00A8CC);
}

.bg1 {
    background-image: linear-gradient(180deg, #00A8CC,#0C7B93);
}

.bg2 {
    background-image: linear-gradient(180deg, #0C7B93,#27496D );
}

.bg3 {
    background-image: linear-gradient(180deg, #0C7B93,#00A8CC);
}

.bg4 {
    background-color: #00A8CC;
}

.bg5 {
    background-image: linear-gradient();
}

.buttonColor:hover {
    background-color: #00A8CC;
}